    .animation-fadeUp {
    animation: 0.8s ease-out 0s 1 slideUpFade;
  }
  
  #tosca-gradient {
    background: linear-gradient(
      90deg,
      rgba(66, 227, 212, 1) 31%,
      rgba(33, 190, 231, 1) 72%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #card:hover #info-text {
    color: black;
  }
  
  #info-text {
    color: rgb(163, 163, 163);
  }
  
  @keyframes slideUpFade {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  